body, h1, p, form {
    margin: 0;
    padding: 0;
}

body {
    background-color: #36393f;
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    margin: 100px auto;
    background-color: #2f3136;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="date"] {
    padding: 10px;
    margin-bottom: 15px;
    background-color: #40444b;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #7289da;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #677bc4;
}

p {
    color: #ffffff; /* Set text color to white */
    font-size: 16px; /* Adjust font size as needed */
    margin-top: 20px; /* Add space above the paragraph */
}

p a {
    color: #7289da;
    text-decoration: none;
    transition: text-decoration 0.3s ease; /* Add smooth transition for underline */
}

p a:hover {
    text-decoration: underline;
}